<div data-id='{{data.post._id}}' class='post-container'>
  {{#if data.post.editable}}
  <button id="delete-btn" class='btn btn-danger'>Delete this post</button>
  {{/if}}

  <h1 class='post-view-title'>{{ data.post.title }}</h1>
  <p class='post-view-text'>{{ data.post.content }}</p>
  {{#if data.post.editable}}
  <h3>Update your post</h3>
  <form class='form-container' id="update-post">
    <input name="post[title]" type="text" placeholder="Post Title" required>
    <textarea name="post[content]" placeholder="Post Body" rows="5" cols="32" required></textarea>
    <button class="btn">Update post</button>
  </form>
  <br />
  {{/if}}
  {{!-- TODO: refactor opportunity - make Comments and CommentsList its own components/handlebars  --}}
  <h1 class='comments-title'>Comments</h1>
  {{#if data.post.signedIn}}
  <form class='form-container' id="new-comment">
    <textarea name="comment[content]" placeholder="Comment Body" id="new-comment-body" rows="5" cols="32"
      required></textarea>
    <button class="btn form-button">Create new comment</button>
  </form>
  <div class='comment-message' id='message'></div>
  {{/if}}
  {{#each data.post.comments as |comment|}}
  <div data-id='{{comment._id}}' data-author='{{comment.author}}' class="comment-container">
    <p><b>{{comment.author}}</b></p>
    <p>{{comment.content}}</p>
    {{#if comment.editable}}
    <form class="update-comment form-container">
      <textarea name="comment[content]" placeholder="Comment Body" rows="5" cols="32" required></textarea>
      <button class="btn form-button">Update comment</button>
    </form>
    <button class="delete-comment btn btn-danger">Delete this comment</button>
    {{/if}}
  </div>
  {{else}}
  No comments yet
  {{/each}}
</div>